.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &-logo {
    margin: 8px 20px
  }

  &-container {
    display: flex;
    flex-grow: 1;
  }

  &-menu {
    width: 200px;
    background: #252834;
  }
  
  &-header {
    height: 56px;
    display: flex;
  }

  &-link {
    color: #61dafb;
  }
}
